@font-face {
    font-family: "Cyborg Punk";
    src: url("../fonts/Cyborg\ Punk.ttf");
}

.navbar {
    box-sizing: border-box;
    border-image: linear-gradient(to right, #0986DA, #CA2FC8) 1;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    background: #121212;
    height: 10vh;
    padding: 0px 3%;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container>* {
    display: flex;
}

ul {
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
}

.button-wrap {
    font-size: 16px;
    color: #FFF;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
}

.logo span {
    font-size: 24px;
    background: linear-gradient(89deg, #0986DA 0%, #CA2FC8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(119, 84, 207, 0.50);
    font-family: "Cyborg Punk";
    font-size: 24px;
    font-weight: 400;
}
.logo-tablet{
    display: none;
}
.login {
    display: flex;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #CA2FC8;
    box-shadow: 0px 0px 10px 0px #CA2FC8;
    color: #202020;
}

/* Responsvie */
@media screen and (width < 1024px) {
    .container > *{
        transform: scale(0.875);
    }

    .button-wrap{
        font-size: 14px;
    }

    .logo span{
        display: none;
    }

    .logo .logo-tablet{
        display: inherit;
        font-size: 36px;
    }
}